*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*********** MOBILE FIRST *********/

/* MAIN */
main{
   
    width:100vw;  
}

/* DIV REGROUPANT TOUTES LES INFORMATIONS DU HAUT DU PROFIL */
.header-profil{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:15px;
}

.picture-profil{
    /* border:1px solid red; */
    margin-bottom:15px;
}

/* STYLE POUR LE NOM DU  DU PROFIL  */
h1{
    font-size: 27px;
    text-align: center; 
    color: #800080; 
    
}

/* STYLE POUR LE TITRE DU PROFILE  */
.description-profil p{
    margin-top:7px;
    font-size:17px;
    /* font-style: italic; */
}

/*****************POUR LES PROJETS EN LIGNE ******* */

.online-projects{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.online-projects h2{
    text-align: center;
    font-size: 25px;
    /* color: #800080; */
    color: #3F4574;
    font-weight: bolder;
    margin-bottom:30px;
    
}

.btn-project{
    
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    width: 80vw;
    text-align: center;
    margin-bottom:22px;
    color:black;
    background-color: #ffeeee;
    border-radius: 30px;
}


/* POUR LES RESEAUX SOCIAUX  */
.reseaux-sociaux{
    display: flex;
    justify-content: center;
    margin-top: 20px;  
}

.bi-github,.bi-linkedin,.bi-tiktok,.bi-discord,.bi-twitch{
    margin-right:30px;
}

.bi{
    font-size:30px;
    color:black;
    /* cursor: pointer; */
}

/* **********************TABLETTE ** */
@media screen and (min-width:768px) and (max-width:1024px){

    .online-projects h2{
        font-size:27px;
    }

    .btn-project{
        width: 40vw;
    }


}

 /* ************ TABLETTE PAYSAGE ****** */
 @media screen and (min-width:1025px) and (max-width:1488px){
    
    .online-projects h2{
        font-size:30px;
    }
    /* BOUTON POUR LES RESEAUX SOCIAUX  */
    .btn-project{
        width: 30vw;
    }

}

  /* ***** ORDINATEUR GRAND ECRAN  ****** */

  @media screen and (min-width:1489px){
   
    .online-projects h2{
        font-size:30px;
    }
    /* BOUTON POUR LES RESEAUX SOCIAUX  */
   .btn-project{
        width: 30vw;
    }

    
 }
