/* RESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*********** MOBILE FIRST *********/

/* MAIN */
main{
   
    width:100vw;  
}
/* DIV REGROUPANT TOUTES LES INFORMATIONS DU HAUT DU PROFIL */
.header-profil{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:15px;
}


/* STYLE DE LA DIV POUR L'IMAGE  */
.picture-profil{
    /* border:1px solid red; */
    margin-bottom:15px;
}

/* STYLE POUR LE NOM DU  DU PROFIL  */
h1{
    font-size: 27px;
    text-align: center;  
}

/* STYLE POUR LE TITRE DU PROFILE  */
.description-profil p{
    margin-top:7px;
    font-size:17px;
    font-style: italic;
}

/* DIV REGROUPANT TOUS LES BOUTONS  */
.reseaux-profil, .online-projects{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* STYLE POUR LE TITRE DE LA SECTION RESEAUX SOCIAUX ET  */
.reseaux-profil h2, .online-projects h2{
    text-align: center;
    font-size: 25px;
    color: #800080;
    font-weight: bolder;
    margin-bottom:30px;
    
}

/* POUR LE BTN DES RESEAUX  */
.btn-reseaux,.btn-project{
    
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    width: 60vw;
    text-align: center;
    margin-bottom:22px;
    color:black;
    background-color: #ffeeee;
    border-radius: 30px;
}





  /**************** TABLETTE ************* */

  @media screen and (min-width:768px) and (max-width:1024px){

    .reseaux-profil h2, .online-projects h2{
        font-size:27px;
    }

    /* POUR LES  BOUTON DES RESEAUX SOCIAUX   */
    .btn-reseaux,.btn-project{
        width: 40vw;
    }

  
  }

  /* ************ TABLETTE PAYSAGE ****** */
  @media screen and (min-width:1025px) and (max-width:1488px){
    
    .reseaux-profil h2, .online-projects h2{
        font-size:30px;
    }
    /* BOUTON POUR LES RESEAUX SOCIAUX  */
    .btn-reseaux,.btn-project{
        width: 30vw;
    }

  
    
  }

  /* ***** ORDINATEUR GRAND ECRAN  ****** */

  @media screen and (min-width:1489px){
   
    .reseaux-profil h2, .online-projects h2{
        font-size:30px;
    }
    /* BOUTON POUR LES RESEAUX SOCIAUX  */
    .btn-reseaux,.btn-project{
        width: 30vw;
    }

    
  }

